{% extends 'reservacion/ver.html' %}
{% block content %}
<div class="container">
  <h1>Lista de Huesped</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>

          </tr>
        </thead>
        <tbody>
          {% for huesped in huespeds  %}
          <tr class="table-active">
            <th>{{huesped.nombre}}</th>
            <th>{{huesped.apellido}}</th>
            <th>{{huesped.telefono}}</th>
            <th>{{huesped.direccion}}</th>


            <th>
              <a href="{% url 'huesped_editar' pk=huesped.pk %}" class="bt  btn-primary"><span class="glyphicon glyphicon-info-sign"></span>Actualizar</a>
              <a href="{% url 'huesped_detalle' pk=huesped.pk %}" class="bt  btn-primary"><span class="glyphicon glyphicon-info-sign"></span>Detalle</a>
<a href="{% url 'huesped_eliminar' pk=huesped.pk %}" class="bt  btn-primary"><span class="glyphicon glyphicon-info-sign"></span>Elimnar</a>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}
